*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

/utils/
/data/
/evaluation/
/error_data/
/result/
/src/
/examples/
/doc/
/bindings/
/waf-tools/

.clang-format
.gitattributes
.mailmap
.vscode/launch.json
.vscode/tasks.json
AUTHORS
CHANGES.html
CONTRIBUTING.md
LICENSE
Makefile
# README.md
RELEASE_NOTES
VERSION
contrib/.gitignore
contrib/wscript

test.py
testpy.supp
utils.py
waf
waf.bat
wscript
wutils.py